.mask-scroll {
  position: relative;
  z-index: 4;
  .mask {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  &.transition-left {
    .mask {
      g {
        transform-origin: center left;
        transition: transform $transition * 2 ease-in-out;
        transform: scaleX(0);
      }
    }
  }

  &.transition-right {
    .mask {
      g {
        transform-origin: center right;
        transition: transform $transition * 2 ease-in-out;
        transform: scaleX(0);
      }
    }
  }

  .mask-scroll-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    -webkit-clip-path: url(#svg-mask);
    clip-path: url(#svg-mask);

    .mask-scrollable {
      overflow: hidden;
    }

    &.active {
      position: relative;
      clip-path: none;
      pointer-events: all;

      .mask-scrollable {
        [data-entry=fade-in] {
          opacity: 1;
          transform: translateY(0);
        }
      }

      [data-entry=fade-in] {
        transition-delay: 0s;

        &.d1 {
          transition-delay: $transition;
        }
        &.d2 {
          transition-delay: $transition*2;
        }
        &.d3 {
          transition-delay: $transition*3;
        }
        &.d4 {
          transition-delay: $transition*4;
        }

        &.fade-in {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    &.scroll {
      .mask-scrollable {
        overflow: auto;
      }
    }

    &.to-top {
      z-index: 2;
    }
    &.to-back {
      z-index: 1;
    }

    [data-entry=fade-in] {
      opacity: 0;
      transform: translateY(10rem);
      transition-delay: $transition*2;
    }
  }

  @media screen and (max-width: $md) {
    .mask {
      display: none;
    }
    .mask-scroll-section {
      position: relative;
      clip-path: none;
      pointer-events: all;
      height: auto;
      min-height: 100vh;
      

      [data-entry=fade-in] {
        transition-delay: 0s;

        &.d1 {
          transition-delay: $transition;
        }
        &.d2 {
          transition-delay: $transition*2;
        }
        &.d3 {
          transition-delay: $transition*3;
        }
        &.d4 {
          transition-delay: $transition*4;
        }

        &.fade-in {
          opacity: 1;
          transform: translateY(0);
        }
      }

      &.active {
        opacity: 1;
        transition: opacity $transition*2 ease;
        pointer-events: all;
      }

      .mask-scrollable {
        overflow: visible;
      }
    }
  }

  // @media screen and (max-width: $mobile) {
  //   .mask-scroll-section {
  //     clip-path: none;
  //     opacity: 0;
      

  //     &.active {
  //       opacity: 1;
  //       transition: opacity $transition*2 ease;
  //       pointer-events: all;
  //     }

  //     .mask-scrollable {
  //       overflow: visible;
  //     }
  //   }
  // }
}
