.progress {
  background: rgba($color-white, 1);
  position: fixed;
  width: 1px;
  height: 0;
  left: 50%;
  bottom: 0;
  z-index: 100;
  transform-origin: center top;
  transition: 1s;
  z-index: 100;

  &.hide {
    transform: scaleY(0);
  }
}