.stats {
  text-align: center;

  h3 {
    font-size: 4.25rem;
    font-family: $font-family;
    margin-bottom: 0;
    font-weight: 400;
  }

  @media screen and (max-width: $mobile) {
    h3 {
      display: inline-flex;
      align-items: center;
      font-size: 2.25rem;
      height: 3rem;
      line-height: 3rem;
    }
  }
}
