.cursor {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	transition-duration: .4s;
	transition-timing-function: ease;
	transition-property: width, height;
	z-index: 999;
	pointer-events: none;
	will-change: transform;

	@media (pointer: fine) {
		display: block;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: var(--radius);
		border-radius: 50%;
		border: 1px solid $color-white;
		opacity: var(--scale);
		transform: scale(var(--scale));
		transform-origin: center center;
		transition:
			.3s cubic-bezier(.25, .25, .42, 1) opacity,
			.3s ease transform,
			.1s ese border-radius;
  }

  &.black {
    &::after {
      border: 1px solid $color-black;
	}
  }

  &.white {
    &::after {
      border: 1px solid $color-white;
	}
  }
  
  @media screen and (max-width: $mobile) {
    display: none !important;
  }
}

body:not(body:hover) .cursor::after {
	opacity: 0;
	transform: scale(0);
}